body{
    margin: 50px;
}
#box1{
    border: 2px solid;
    width: 250px;
    font-size: 20px;
    background-color: aquamarine;
    margin: 100px;
    padding: 20px; 
    margin-right: auto;
}
#box2{
    border: 2px solid;
    width: 250px;
    font-size: 20px;
    background-color: rgb(205, 243, 230);
    margin-top: 150px;
    margin-left: 50px;
    padding-left: 30px;
    margin-left: auto;
}
